<div>
  <br/>
  <h4>Trustee</h4>
  <br/>
</div>
<form method="post" action="" class="container-fluid user-select-auto mx-auto" style="
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: solid 1px #ced4da;
  ">
  <div style="
     padding-top: 10px;
     padding-right: 0px;
     padding-bottom: 10px;
     padding-left: 0px;
     border-radius: 0px;
     min-height: auto;
     ">
     <label class="" style="color: #000000; font-size: 14px">
     <span class="d-inline-block">Name</span>
     <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="name" autocomplete="off" placeholder="Full name" style="
        background-color: #ffffff;
        border: solid 1px #ced4da;
        border-radius: 5px;
        " required="">
  </div>
  <div style="
     padding-top: 10px;
     padding-right: 0px;
     padding-bottom: 10px;
     padding-left: 0px;
     border-radius: 0px;
     min-height: auto;
     ">
     <label class="" style="color: #000000; font-size: 14px">
     <span class="d-inline-block">Address</span></label>
     <textarea class="form-control" name="address" placeholder="Address" style="
        background-color: #ffffff;
        border: solid 1px #ced4da;
        border-radius: 5px;
        "></textarea>
  </div>
  <div class="container-fluid p-0">
     <div class="column-per-66 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 0px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">Qualification</span> </label><input type="text" class="form-control" name="input-552327dd" autocomplete="off" placeholder="Qualification" style="
              background-color: #ffffff;
              border: solid 1px #ced4da;
              border-radius: 5px;
              ">
        </div>
     </div>



     <div class="column-per-33 d-inline-block w-100 float-start">
      <div style="padding-top: 10px;
         padding-right: 0px;
         padding-bottom: 10px;
         padding-left: 0px;
         border-radius: 0px;min-height: auto;">
         <label class="" style="color: #000000;font-size: 14px">
         <span class="d-inline-block">Qualification Document</span>
         </label><input type="file" class="form-control" name="input-545b7695" autocomplete="off" placeholder="Qualification Document" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
        </div>
   </div>


  </div>
  <div class="clearfix"></div>
  <div class="container-fluid p-0">
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 0px;
           border-radius: 0px;
           min-height: auto;
           line-height: 1.5;
           font-family: 'Helvetica Neue', Helvetica, sans-serif;
           " class="text-break">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Origin</span>
              </label>
           <input type="text" data-target="#date_input_d239f148-18e8-e6a8-6b4b-b8994d943a36" data-toggle="datetimepicker" class="form-control" name="mcInauguration" autocomplete="off" placeholder="" style="
           background-color: #ffffff;
           border: solid 1px #ced4da;
           border-radius: 5px;
           ">
        </div>
     </div>
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 5px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">State</span></label>
           <select class="form-control" name="state" style="
              background-color: #ffffff;
              border: solid 1px #ced4da;
              border-radius: 5px;
              ">           
              <option>Outside Nigeria</option>
<option>ABUJA FCT</option>
<option>ABIA</option>
<option>ADAMAWA</option>
<option>AKWA IBOM</option>
<option>ANAMBRA</option>
<option>BAUCHI</option>
<option>BAYELSA</option>
<option>BENUE</option>
<option>BORNO</option>
<option>CROSS RIVER</option>
<option>DELTA</option>
<option>EBONYI</option>
<option>EDO</option>
<option>EKITI</option>
<option>ENUGU</option>
<option>GOMBE</option>
<option>IMO</option>
<option>JIGAWA</option>
<option>KADUNA</option>
<option>KANO</option>
<option>KATSINA</option>
<option>KEBBI</option>
<option>KOGI</option>
<option>KWARA</option>
<option>LAGOS</option>
<option>NASSARAWA</option>
<option>NIGER</option>
<option>OGUN</option>
<option selected="">ONDO</option>
<option>OSUN</option>
<option>OYO</option>
<option>PLATEAU</option>
<option>RIVERS</option>
<option>SOKOTO</option>
<option>TARABA</option>
<option>YOBE</option>
<option>ZAMFARA</option>
           </select>
        </div>
     </div>
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 5px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">LGA</span></label>
           <select name="lga" id="lga" class="form-control select-lga" required="">
            <option value="Select LGA..." disabled="disabled" selected="selected">Select LGA...</option><option value="Akoko North-East">Akoko North-East</option><option value="Akoko North-West">Akoko North-West</option><option value="Akoko South-West">Akoko South-West</option><option value="Akoko South-East">Akoko South-East</option><option value="Akure North">Akure North</option><option value="Akure South">Akure South</option><option value="Ese Odo">Ese Odo</option><option value="Idanre">Idanre</option><option value="Ifedore">Ifedore</option><option value="Ilaje">Ilaje</option><option value="Ile Oluji-Okeigbo">Ile Oluji-Okeigbo</option><option value="Irele">Irele</option><option value="Odigbo">Odigbo</option><option value="Okitipupa">Okitipupa</option><option value="Ondo East">Ondo East</option><option value="Ondo West">Ondo West</option><option value="Ose">Ose</option><option value="Owo">Owo</option></select>
        </div>
     </div>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid p-0">
     <div class="column-per-50 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 0px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">Job Role</span> </label><input type="text" class="form-control" name="input-50f1164f" autocomplete="off" placeholder="Job Role" style="
              background-color: #ffffff;
              border: solid 1px #ced4da;
              border-radius: 5px;
              ">
        </div>
     </div>
     <div class="column-per-50 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 5px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">Position</span></label>
           <select class="form-control" name="dropdown-44d18c59" style="
              background-color: #ffffff;
              border: solid 1px #ced4da;
              border-radius: 5px;
              ">
              <option value="Value 1" selected="">Chairman</option>
              <option value="Value 2">Vice</option>
              <option value="Value 3">Member</option>
              '
           </select>
        </div>
     </div>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid p-0">
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 0px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">Inauguration</span>
           </label>
           <div class="input-group date date-picker" id="date_input_12902926-71db-35d5-4815-9620db59f981" data-target-input="nearest">
              <input type="text" data-target="#date_input_12902926-71db-35d5-4815-9620db59f981" data-toggle="datetimepicker" class="form-control" name="dateOfInauguration" autocomplete="off" placeholder="" style="
                 background-color: #ffffff;
                 border: solid 1px #ced4da;
                 border-radius: 5px;
                 ">
           </div>
        </div>
     </div>
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 5px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">MC Inauguration</span>
           </label>
           <div class="input-group date date-picker" id="date_input_d239f148-18e8-e6a8-6b4b-b8994d943a36" data-target-input="nearest">
              <input type="text" data-target="#date_input_d239f148-18e8-e6a8-6b4b-b8994d943a36" data-toggle="datetimepicker" class="form-control" name="mcInauguration" autocomplete="off" placeholder="" style="
                 background-color: #ffffff;
                 border: solid 1px #ced4da;
                 border-radius: 5px;
                 ">
           </div>
        </div>
     </div>
     <div class="column-per-33 d-inline-block w-100 float-start">
        <div style="
           padding-top: 10px;
           padding-right: 0px;
           padding-bottom: 10px;
           padding-left: 5px;
           border-radius: 0px;
           min-height: auto;
           ">
           <label class="" style="color: #000000; font-size: 14px">
           <span class="d-inline-block">AC Inauguration</span> </label><input type="text" class="form-control" name="acInauguration" autocomplete="off" placeholder="" style="
              background-color: #ffffff;
              border: solid 1px #ced4da;
              border-radius: 5px;
              ">
        </div>
     </div>
  </div>
  <div class="clearfix"></div>
  <div style="
     padding-top: 10px;
     padding-right: 0px;
     padding-bottom: 10px;
     padding-left: 0px;
     border-radius: 0px;
     min-height: auto;
     ">
     <table cellpadding="0" cellspacing="0" style="margin: 0; border-collapse: collapse" align="right">
        <tbody>
           <tr>
              <td style="vertical-align: middle">
                 <button type="button" style="
                    padding: 0 15px;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    border: 0;
                    color: #ffffff;
                    font-family: 'Helvetica Neue', Helvetica, sans-serif;
                    font-size: 16px;
                    border-radius: 10px;
                    height: 30px;
                    line-height: 30px;
                    background: linear-gradient(to top, #013682, #0150c4);
                    width: auto;
                    ">
                 Submit
                 </button>
              </td>
           </tr>
        </tbody>
     </table>
     <div style="clear: both"></div>
  </div>
</form>