<div>
  <br/>
  <h4>Approval In Principle</h4>
  <br/>
</div>

<form method="post" action="" class="container-fluid user-select-auto mx-auto" style="background: #ffffff;width: 100%;padding: 15px;border-radius: 8px;border: solid 1px #ced4da">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
            <p>Request for&nbsp;APPROVAL IN PRINCIPLE (AIP)</p>
    
            </div><div style="padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
            <p>Settlors details</p>
    
            </div><div class="container-fluid p-0">
    <div class="column-per-50 d-inline-block w-100 float-start">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">Name of Company</span><span class="text-danger d-inline-block ms-1">*</span></label>
            <select class="form-control" name="dropdown-4fefd61d" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required="">
            <option value="Value 1" selected="">Shell</option>
    <option value="Value 2">Total</option>
    <option value="Value 3">Option 3</option>
            '</select>
        </div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">License/Lease No.</span>
                <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="input-78d6d785" autocomplete="off" placeholder="Input number" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required=""></div></div><div class="column-per-50 d-inline-block w-100 float-start">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">RC Number</span>
                <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="input-a8ad26d6" autocomplete="off" placeholder="Input number" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required=""></div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">Contact Email</span>
                <span class="text-danger d-inline-block">*</span></label><input type="email" class="form-control" name="input-f9554476" autocomplete="off" placeholder="Enter mail" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required=""></div></div></div><div class="clearfix"></div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;" class="mj-outlook-group-fix">
                    <hr class="hr-form-builder" style="margin:0;border-top-style: solid;border-top-width: 1px;">
                    </div><div style="padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
            <p>Trust Details</p>
    
            </div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">Proposed Name of HCDT</span>
                <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="input-c670e664" autocomplete="off" placeholder="Enter name" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required=""></div><div class="container-fluid p-0">
    <div class="column-per-33 d-inline-block w-100 float-start">
    <div style="padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">Names of Proposed Nominees</span>
                </label><input type="text" class="form-control" name="input-c052e876" autocomplete="off" placeholder="Enter name" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"></div></div><div class="column-per-33 d-inline-block w-100 float-start">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">Means of ID</span>
                <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="input-643784e4" autocomplete="off" placeholder="NIN" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px" required=""></div></div><div class="column-per-33 d-inline-block w-100 float-start">
    <div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_265b91bd-f8b6-bc6f-836c-90ba25b12d17" data-param-name="uploader-265b91bd" data-message="Click here to upload NIN" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Click here to upload NIN</button></div></div>
          </div></div></div><div class="clearfix"></div><div class="container-fluid p-0">
    <div class="column-per-33 d-inline-block w-100 float-start">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">State</span></label>
            <select class="form-control" name="dropdown-0327dd2a" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
            <option value="Value 1" selected="">Abia</option>
    <option value="Value 2">River State</option>
    <option value="Value 3">Bayelsa</option>
            '</select>
        </div></div><div class="column-per-33 d-inline-block w-100 float-start">
    <div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <label class="" style="color: #000000;font-size: 14px">
                <span class="d-inline-block">L.G.A of Origin</span>
                </label><input type="text" class="form-control" name="input-545b7695" autocomplete="off" placeholder="Bomu Central" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px"></div></div><div class="column-per-33 d-inline-block w-100 float-start">
    <div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 6px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_b4b9935e-9b23-45cc-c73e-39c7e98a8393" data-param-name="uploader-b4b9935e" data-message="Upload LGA Certificate of Origin" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Upload LGA Certificate of Origin</button></div></div>
          </div></div></div><div class="clearfix"></div><div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_b5385508-ae1b-3732-aa8d-1c62a4e0f686" data-param-name="uploader-b5385508" data-message="Upload resume and certificates" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Upload resume and certificates</button></div></div>
          </div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
       
            <table cellpadding="0" cellspacing="0" style="margin:0;border-collapse:collapse;" align="center">
              <tbody><tr>
                <td style="vertical-align: middle"><button type="button" style="padding:0 15px;text-decoration:none;display:block;text-align:center;border:0;color:#FFFFFF;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;height: 30px; line-height: 30px;background-color: #0143a3;width:auto;">
            Add more proposed nominees
          </button></td>
              </tr>
            </tbody></table>
            
            <div style="clear: both"></div></div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;" class="mj-outlook-group-fix">
                    <hr class="hr-form-builder" style="margin:0;border-top-style: solid;border-top-width: 1px;">
                    </div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
            <p style="list-style-type:none">​​​​​​​<span style="font-size:12pt"><span style="font-family:'Century Gothic',sans-serif">Documentation requirements</span></span></p>
    
            </div><div class="container-fluid p-0">
    <div class="column-per-50 d-inline-block w-100 float-start">
    <div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_3fdea3ca-6b32-f45d-9694-c16d0d7f6125" data-param-name="uploader-3fdea3ca" data-message="Click to Upload Draft Constitution" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Click to Upload Draft Constitution</button></div></div>
          </div></div><div class="column-per-50 d-inline-block w-100 float-start">
    <div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_46b3108a-cbb0-f58e-4da0-22af6d3f3751" data-param-name="uploader-46b3108a" data-message="Click to upload Resolution by the settlor and the host community for the incorporation of the trust" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Click to upload Resolution by the settlor and the host community for the incorporation of the trust</button></div></div>
          </div></div></div><div class="clearfix"></div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
        <label class="" style="color: #000000;font-size: 14px">
            <span class="d-inline-block">List of communities, locations, and coordinates</span></label>
            <textarea class="form-control" name="textarea-31cb3ded" placeholder="" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px;"></textarea>
            </div><div class="d-flex align-items-center justify-content-center">
          <div class="dropzone dz-clickable" style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;line-height: 1.5;width: 100%;font-family: 'Helvetica Neue', Helvetica, sans-serif;
          color: null;    
          border-style: dashed;
          border-width: 3px;
          border-color: #c7c3c3;
          font-size: 16px;
        " id="dropzone_90c48d16-38ec-19c0-5fef-1975ef2c9dbf" data-param-name="uploader-90c48d16" data-message="Upload Map identifying the settlor’s area of operation" data-upload-url="https://example.com/upload-handler" data-accepted-files="image/*" data-max-file-size="2"><div class="dz-default dz-message"><button class="dz-button" type="button">Upload Map identifying the settlor’s area of operation</button></div></div>
          </div><div style="padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        border-radius: 0px;min-height: auto;">
            <table cellpadding="0" cellspacing="0" style="margin:0;border-collapse:collapse;" align="center">
              <tbody><tr>
                <td style="vertical-align: middle"><button type="submit" style="padding:0 15px;text-decoration:none;display:block;text-align:center;border:0;color:#FFFFFF;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;height: 30px; line-height: 30px;background-color: #0143a3;width:auto;">
            Submit
          </button></td>
              </tr>
            </tbody></table>
            <div style="clear: both"></div></div>
    </form>