<div>
    <br/>
    <h4>Compliants and petitions</h4>
    <br/>
 </div>
 <form method="post" action="" class="container-fluid user-select-auto mx-auto" style="background: #ffffff;width: 100%;padding: 15px;border-radius: 8px;border: solid 1px #ced4da">
    <div style="padding-top: 10px;
       padding-right: 0px;
       padding-bottom: 10px;
       padding-left: 0px;
       border-radius: 0px;min-height: auto;line-height: 1.5;font-family: 'Helvetica Neue', Helvetica, sans-serif;" class="text-break">
       <p>Compliants and Petitions</p>
    </div>
    <div style="padding-top: 10px;
       padding-right: 10px;
       padding-bottom: 10px;
       padding-left: 0px;
       border-radius: 0px;min-height: auto;">
       <label class="" style="color: #000000;font-size: 14px">
       <span class="d-inline-block">Subject</span>
       </label><input type="text" class="form-control" name="input-ecbed462" autocomplete="off" placeholder="Enter Subject" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
    </div>
    <div style="padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-radius: 0px;min-height: auto;">
    <label class="" style="color: #000000;font-size: 14px">
    <span class="d-inline-block">Description</span>
    </label>
    <textarea rows="5" cols="5" class="form-control"></textarea>
 </div>
    <div class="container-fluid p-0">
       <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="padding-top: 10px;
             padding-right: 6px;
             padding-bottom: 10px;
             padding-left: 0px;
             border-radius: 0px;min-height: auto;">
             <label class="" style="color: #000000;font-size: 14px">
             <span class="d-inline-block">Host Community</span>
             </label><input type="text" class="form-control" name="input-cd994edf" autocomplete="off" placeholder="Enter Host Community" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
          </div>
       </div>
       <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="padding-top: 10px;
             padding-right: 5px;
             padding-bottom: 10px;
             padding-left: 0px;
             border-radius: 0px;min-height: auto;">
             <label class="" style="color: #000000;font-size: 14px">
             <span class="d-inline-block">Documents</span>
             </label><input type="file" class="form-control" name="input-e4134a3d" autocomplete="off" placeholder="Upload documents" style="background-color: #ffffff;border: solid 1px #ced4da;border-radius: 5px">
          </div>
       </div>
    </div>
    <div class="clearfix"></div>
    <div style="padding-top: 10px;
       padding-right: 15px;
       padding-bottom: 10px;
       padding-left: 0px;
       border-radius: 0px;min-height: auto;">
       <table cellpadding="0" cellspacing="0" style="margin:0;border-collapse:collapse;" align="right">
          <tbody>
             <tr>
                <td style="vertical-align: middle"><button type="submit" style="padding:0 15px;text-decoration:none;display:block;text-align:center;border:0;color:#FFFFFF;font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;height: 30px; line-height: 30px;background-color: #0143a3;width:auto;">
                   Submit
                   </button>
                </td>
             </tr>
          </tbody>
       </table>
       <div style="clear: both"></div>
    </div>
 </form>