
<div>
    <br/>
    <h4>Fund Account Details</h4>
    <br/>
</div>


<form method="post" action="" class="container-fluid user-select-auto mx-auto" style="
        background: #ffffff;
        max-width: 600px;
        padding: 15px;
        border-radius: 8px;
        border: solid 1px #ced4da;
      ">
      <div class="container-fluid p-0">
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Bank Name</span><span class="text-danger d-inline-block ms-1">*</span></label>
            <select class="form-control" name="dropdown-d88521ae" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              " required="">
              <option value="Value 1" selected="">First Bank</option>
              <option value="Value 2">Fidelity Bank</option>
              <option value="Value 3">Guarantee Trust Bank</option>
              '
            </select>
          </div>
        </div>
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Account Number</span>
              <span class="text-danger d-inline-block">*</span></label><input type="text" class="form-control" name="input-e96771b0" autocomplete="off" placeholder="Account Number" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              " required="">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid p-0">
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Signatory</span></label>
            <select class="form-control" name="dropdown-bb9bab53" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
              <option value="Value 1" selected="">Bot Member 1</option>
              <option value="Value 2">Bot Member 2</option>
              <option value="Value 3">Bot Member 3</option>
              '
            </select>
          </div>
        </div>
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Sign</span></label>
            <textarea class="form-control" name="textarea-6291ece7" placeholder="" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              "></textarea>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid p-0">
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Signatory</span></label>
            <select class="form-control" name="dropdown-65a3d1e9" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
              <option value="Value 1" selected="">Bot Member 1</option>
              <option value="Value 2">Bot Member 2</option>
              <option value="Value 3">Bot Member 3</option>
              '
            </select>
          </div>
        </div>
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Sign</span></label>
            <textarea class="form-control" name="textarea-0ecc82c0" placeholder="" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              "></textarea>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid p-0">
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Financial Statement Year</span></label>
            <select class="form-control" name="dropdown-bd6e5ba2" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
              <option value="Value 1" selected="">2021</option>
              <option value="Value 2">2022</option>
              <option value="Value 3">2023</option>
              '
            </select>
          </div>
        </div>
        <div class="column-per-50 d-inline-block w-100 float-start">
          <div class="d-flex align-items-center justify-content-center">
            <div class="dropzone dz-clickable" style="
                padding-top: 10px;
                padding-right: 0px;
                padding-bottom: 10px;
                padding-left: 0px;
                border-radius: 0px;
                min-height: auto;
                line-height: 1.5;
                width: 100%;
                font-family: 'Helvetica Neue', Helvetica, sans-serif;
                color: null;
                border-style: dashed;
                border-width: 0px;
                border-color: #c7c3c3;
                font-size: 16px;
              " id="dropzone_21643fa3-4fde-587e-b2d7-946222740531" data-param-name="Statement Document" data-message="Statement Document" data-upload-url="https://example.com/upload-handler" data-accepted-files=".pdf" data-max-file-size="1"><div class="dz-default dz-message"><button class="dz-button" type="button">Statement Document</button></div></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div style="
          padding-top: 10px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
          border-radius: 0px;
          min-height: auto;
          line-height: 1;
          font-family: 'Helvetica Neue', Helvetica, sans-serif;
        " class="text-break">
        <p>Opex Trust Fund Estimation</p>
      </div>
      <div class="container-fluid p-0">
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Opex Evaluation Matrix</span></label>
            <select class="form-control" name="dropdown-b2b5b3ca" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
              <option value="Value 1" selected="">Matrix 1</option>
              <option value="Value 2">Matrix 2</option>
              <option value="Value 3">Matrix 3</option>
              '
            </select>
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 5px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Metrix Year</span> </label><input type="text" class="form-control" name="input-59972b6e" autocomplete="off" placeholder="" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 5px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">3% Funding Account</span> </label><input type="text" class="form-control" name="input-567bebb7" autocomplete="off" placeholder="" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              ">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid p-0">
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Year</span>
            </label>
            <div class="input-group date date-picker" id="date_input_d91bfdd3-f41f-2a84-0a68-2fc97ea7c37c" data-target-input="nearest">
              <input type="text" data-target="#date_input_d91bfdd3-f41f-2a84-0a68-2fc97ea7c37c" data-toggle="datetimepicker" class="form-control" name="input-d91bfdd3" autocomplete="off" placeholder="" style="
                  background-color: #ffffff;
                  border: solid 1px #ced4da;
                  border-radius: 5px;
                ">
              <div class="input-group-text" data-toggle="datetimepicker" data-target="#date_input_d91bfdd3-f41f-2a84-0a68-2fc97ea7c37c">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div class="d-flex align-items-center justify-content-center">
            <div class="dropzone dz-clickable" style="
                padding-top: 10px;
                padding-right: 0px;
                padding-bottom: 10px;
                padding-left: 5px;
                border-radius: 0px;
                min-height: auto;
                line-height: 1.5;
                width: 100%;
                font-family: 'Helvetica Neue', Helvetica, sans-serif;
                color: null;
                border-style: dashed;
                border-width: 0px;
                border-color: #c7c3c3;
                font-size: 16px;
              " id="dropzone_fd7a9dcb-37b1-84fa-0fab-425861b3163a" data-param-name="uploader-fd7a9dcb" data-message="Suporting Document" data-upload-url="https://example.com/upload-handler" data-accepted-files=".pdf" data-max-file-size="0"><div class="dz-default dz-message"><button class="dz-button" type="button">Suporting Document</button></div></div>
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 5px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Budget</span></label>
            <textarea class="form-control" name="textarea-af20b319" placeholder="Enter budget" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              "></textarea>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid p-0">
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 0px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Year</span>
            </label>
            <div class="input-group date date-picker" id="date_input_050d9a6f-fd77-6718-c2bb-db0d568859ce" data-target-input="nearest">
              <input type="text" data-target="#date_input_050d9a6f-fd77-6718-c2bb-db0d568859ce" data-toggle="datetimepicker" class="form-control" name="input-050d9a6f" autocomplete="off" placeholder="Placeholder text" style="
                  background-color: #ffffff;
                  border: solid 1px #ced4da;
                  border-radius: 5px;
                ">
              <div class="input-group-text" data-toggle="datetimepicker" data-target="#date_input_050d9a6f-fd77-6718-c2bb-db0d568859ce">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div class="d-flex align-items-center justify-content-center">
            <div class="dropzone dz-clickable" style="
                padding-top: 10px;
                padding-right: 0px;
                padding-bottom: 10px;
                padding-left: 5px;
                border-radius: 0px;
                min-height: auto;
                line-height: 1.5;
                width: 100%;
                font-family: 'Helvetica Neue', Helvetica, sans-serif;
                color: null;
                border-style: dashed;
                border-width: 0px;
                border-color: #c7c3c3;
                font-size: 16px;
              " id="dropzone_ce2910d8-9218-9ff8-9c28-ce0331725cf9" data-param-name="uploader-ce2910d8" data-message="Supporting Document" data-upload-url="https://example.com/upload-handler" data-accepted-files=".pdf" data-max-file-size="1"><div class="dz-default dz-message"><button class="dz-button" type="button">Supporting Document</button></div></div>
          </div>
        </div>
        <div class="column-per-33 d-inline-block w-100 float-start">
          <div style="
              padding-top: 10px;
              padding-right: 0px;
              padding-bottom: 10px;
              padding-left: 5px;
              border-radius: 0px;
              min-height: auto;
            ">
            <label class="" style="color: #000000; font-size: 14px">
              <span class="d-inline-block">Budget</span></label>
            <textarea class="form-control" name="textarea-ebb714e4" placeholder="Enter Budget" style="
                background-color: #ffffff;
                border: solid 1px #ced4da;
                border-radius: 5px;
              "></textarea>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div style="
          padding-top: 10px;
          padding-right: 0px;
          padding-bottom: 10px;
          padding-left: 0px;
          border-radius: 0px;
          min-height: auto;
        ">
        <table cellpadding="0" cellspacing="0" style="margin: 0; border-collapse: collapse" align="right">
          <tbody><tr>
            <td style="vertical-align: middle">
              <button type="button" style="
                  padding: 0 15px;
                  text-decoration: none;
                  display: block;
                  text-align: center;
                  border: 0;
                  color: #ffffff;
                  font-family: 'Helvetica Neue', Helvetica, sans-serif;
                  font-size: 16px;
                  border-radius: 10px;
                  height: 30px;
                  line-height: 30px;
                  background: linear-gradient(to top, #013682, #0150c4);
                  width: auto;
                ">
                Submit
              </button>
            </td>
          </tr>
        </tbody></table>
        <div style="clear: both"></div>
      </div>
    </form>